body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%; 
    background: #000 url('./img/bg.jpg') center no-repeat;
	background-attachment:fixed;
	background-size: cover;
    color: #fff;
    font-size: 18px;
	line-height: 2;
    font-family: Arial,'宋体',-apple-system,BlinkMacSystemFont,Noto Sans,Helvetica Neue,Helvetica,Nimbus Sans L,Arial,PingFang SC,Liberation Sans,Hiragino Sans GB,Noto Sans CJK SC,Source Han Sans SC,Source Han Sans CN,Microsoft YaHei,Wenquanyi Micro Hei,WenQuanYi Zen Hei,ST Heiti,SimHei,WenQuanYi Zen Hei Sharp,sans-serif;
}
ul,ol,li{ padding: 0;margin: 0; }
h1,h2,h3,h4,h5,h6, dt{ line-height: 1.2 !important; }
dl p{margin: 0;}

/**
 * prism.js Github theme based on GitHub's theme.
 * @author Sam Clarke
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: rgb(218, 218, 218);
   background: none;
   font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.4;
 
   -moz-tab-size: 8;
   -o-tab-size: 8;
   tab-size: 8;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: .8em;
   overflow: auto;
   /* border: 1px solid #ddd; */
   border-radius: 3px;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
   background: #000000;
 }
 
 .token.comment,
 .token.blockquote {
   color: #f1f1f1;
 }
 
 .token.cdata {
   color: #183691;
 }
 
 .token.doctype,
 .token.punctuation,
 .token.variable,
 .token.macro.property {
   color: rgb(182, 182, 182);
 }
 
 .token.operator,
 .token.important,
 .token.keyword,
 .token.rule,
 .token.builtin {
   color: #a71d5d;
 }
 
 .token.string,
 .token.url,
 .token.regex,
 .token.attr-value {
   color: #183691;
 }
 
 .token.property,
 .token.number,
 .token.boolean,
 .token.entity,
 .token.atrule,
 .token.constant,
 .token.symbol,
 .token.command,
 .token.code {
   color: #0086b3;
 }
 
 .token.tag,
 .token.selector,
 .token.prolog {
   color: #63a35c;
 }
 
 .token.function,
 .token.namespace,
 .token.pseudo-element,
 .token.class,
 .token.class-name,
 .token.pseudo-class,
 .token.id,
 .token.url-reference .token.variable,
 .token.attr-name {
   color: #795da3;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token.title,
 .token.title .token.punctuation {
   font-weight: bold;
   color: #1d3e81;
 }
 
 .token.list {
   color: #ed6a43;
 }
 
 .token.inserted {
   background-color: #1f1f1f;
   color: #55a532;
 }
 
 .token.deleted {
   background-color: #181818;
   color: #bd2c00;
 }
 
 .token.bold {
   font-weight: bold;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 
 /* JSON */
 .language-json .token.property {
   color: #183691;
 }
 
 .language-markup .token.tag .token.punctuation {
   color: #333;
 }
 
 /* CSS */
 code.language-css,
 .language-css .token.function {
   color: #0086b3;
 }
 
 /* YAML */
 .language-yaml .token.atrule {
   color: #63a35c;
 }
 
 code.language-yaml {
   color: #183691;
 }
 
 /* Ruby */
 .language-ruby .token.function {
   color: #333;
 }
 
 /* Markdown */
 .language-markdown .token.url {
   color: #795da3;
 }
 
 /* Makefile */
 .language-makefile .token.symbol {
   color: #795da3;
 }
 
 .language-makefile .token.variable {
   color: #183691;
 }
 
 .language-makefile .token.builtin {
   color: #0086b3;
 }
 
 /* Bash */
 .language-bash .token.keyword {
   color: #0086b3;
 }
 
 pre{
     background-color: rgba(255, 255, 255, 0.068);
 }
 /* highlight */
 pre[data-line] {
   position: relative;
   padding: 1em 0 1em 3em;
 }
 pre[data-line] .line-highlight-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   background-color: transparent;
   display: block;
   width: 100%;
 }
 
 pre[data-line] .line-highlight {
   position: absolute;
   left: 0;
   right: 0;
   padding: inherit 0;
   margin-top: 0;
   background: hsla(24, 20%, 50%,.08);
   background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
   pointer-events: none;
   line-height: inherit;
   white-space: pre;
 }
 
 pre[data-line] .line-highlight:before, 
 pre[data-line] .line-highlight[data-end]:after {
   content: attr(data-start);
   position: absolute;
   top: .4em;
   left: .6em;
   min-width: 1em;
   padding: 0 .5em;
   background-color: hsla(24, 20%, 50%,.4);
   color: hsl(24, 20%, 95%);
   font: bold 65%/1.5 sans-serif;
   text-align: center;
   vertical-align: .3em;
   border-radius: 999px;
   text-shadow: none;
   box-shadow: 0 1px rgb(56, 56, 56);
 }
 
 pre[data-line] .line-highlight[data-end]:after {
   content: attr(data-end);
   top: auto;
   bottom: .4em;
 }
 .markdown {
	overflow: initial;
	box-sizing: border-box;
	word-wrap: break-word
}

.markdown>:first-child {
	margin-top: 0
}

.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
	line-height: 1.2;
	margin-top: 1em;
	margin-bottom: 16px;
	color: rgb(255, 255, 255)
}

.markdown h1 {
	font-size: 2em;
	padding-bottom: .3em
}

.markdown h2 {
	font-size: 2.2em;
	padding-bottom: .3em
}

.markdown h3 {
	font-size: 2em;
}

.markdown h4 {
	font-size: 1.6em;
}

.markdown h5 {
	font-size: 1.4em;
}

.markdown h6 {
	font-size: 1.2em;
}


.markdown strong {
	color: #000
}

.markdown del {
	color: #5c5c5c
}

.markdown a:not([href]) {
	color: inherit;
	text-decoration: none
}

.markdown a {
	color: #08c;
	text-decoration: none
}

.markdown a:hover {
	color: #00a3f5;
	text-decoration: none
}

.markdown img {
	max-width: 80%;
	display: block;
	margin: 20px auto;
	border: 3px solid rgb(66, 66, 66);
	padding: 2px;
}

.markdown>p {
	margin-top: 0;
    font-size: 1em;
	margin-bottom: 16px;
	word-wrap: break-word
}

.markdown>ul,.markdown>ol {
	margin-bottom: 16px
}

.markdown ul,.markdown ol {
	padding-left: 1em
}

.markdown ul.no-list,.markdown ol.no-list {
	padding: 0;
	list-style-type: none
}

.markdown ul ul,.markdown ul ol,.markdown ol ol,.markdown ol ul {
	margin-top: 0;
	margin-bottom: 0
}

.markdown li {
	margin-bottom: 0
}

.markdown li.task-list-item {
	list-style: none
}

.markdown li>p {
	margin-top: 0;
	margin-bottom: 0
}

.markdown .task-list-item-checkbox {
	margin: 0 .2em .25em -1.8em;
	vertical-align: middle
}

.markdown .task-list-item-checkbox:hover {
	cursor: pointer
}

.markdown blockquote {
	margin: 16px 0;
	font-size: inherit;
    padding: 10px 0;
    padding-left: 10px;
	color: #ffffff;
	border-left: 4px solid #3d3d3d;
    background-color: rgba(36, 36, 36, 0.315);
}

.markdown blockquote>:first-child {
	margin-top: 0
}

.markdown blockquote>:last-child {
	margin-bottom: 0
}

.markdown hr {
	height: 4px;
	margin: 32px 0;
	background-color: #2f2f2f;
	border: 0 none
}

.markdown table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all
}

.markdown table th {
	font-weight: bold;
	color: rgb(214, 214, 214)
}

.markdown table td,.markdown table th {
	border: 1px solid #353535;
	padding: 6px 13px
}

.markdown dl {
	padding: 0
}

.markdown dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: bold
}

.markdown dl dd {
	padding: 0 16px;
	margin-bottom: 16px
}

.markdown code {
	font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
	font-size: .85em !important;
	color: rgb(218, 218, 218);
	background-color: #141414;
	border-radius: 3px;
	padding: .2em 0
}

.markdown code::before,.markdown code::after {
	letter-spacing: -0.2em;
	content: "\00a0"
}

.markdown pre>code {
	padding: 0;
	margin: 0;
	font-size: .85em !important;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0
}

.markdown .highlight {
	margin-bottom: 16px
}

.markdown .highlight pre,.markdown pre {
	padding: 1em;
	overflow: auto;
	font-size: .85em !important;
	line-height: 1.45;
	border: #2f2f2f;
	border-radius: 3px
}

.markdown .highlight pre {
	margin-bottom: 0;
	word-break: normal
}

.markdown pre code,.markdown pre tt {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0
}

.markdown pre code:before,.markdown pre tt:before,.markdown pre code:after,.markdown pre tt:after {
	content: normal
}

.markdown p,.markdown blockquote,.markdown ul,.markdown ol,.markdown dl,.markdown pre {
	margin-top: 0;
	margin-bottom: 16px
}

.markdown kbd {
	color: rgb(206, 206, 206);
	border: 1px solid #2c2c2c;
	border-bottom: 2px solid #1f1f1f;
	padding: 2px 4px;
	background-color: #161616;
	border-radius: 3px
}

@media print {

	.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
		color: rgb(226, 226, 226);
		page-break-after: avoid
	}

	.markdown blockquote {
		color: #dbdbdb
	}

	.markdown pre {
		page-break-inside: avoid
	}

	.markdown table {
		display: table
	}

	.markdown img {
		display: block;
		max-width: 100%;
		max-height: 100%
	}

	.markdown pre,.markdown code {
		word-wrap: break-word;
		white-space: pre
	}
}

.markdown-preview {
	width: 100%;
	height: 100%;
	box-sizing: border-box
}

.markdown-preview .pagebreak,.markdown-preview .newpage {
	page-break-before: always
}

.markdown-preview pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber
}

.markdown-preview pre.line-numbers>code {
	position: relative
}

.markdown-preview pre.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 1em;
	font-size: 100%;
	left: 0;
	width: 3em;
	letter-spacing: -1px;
	border-right: 1px solid rgb(39, 39, 39);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.markdown-preview pre.line-numbers .line-numbers-rows>span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber
}

.markdown-preview pre.line-numbers .line-numbers-rows>span:before {
	content: counter(linenumber);
	color: rgb(212, 212, 212);
	display: block;
	padding-right: .8em;
	text-align: right
}

.markdown-preview .mathjax-exps .MathJax_Display {
	text-align: center !important
}

.markdown-preview:not([for="preview"]) .code-chunk .btn-group {
	display: none
}

.markdown-preview:not([for="preview"]) .code-chunk .status {
	display: none
}

.markdown-preview:not([for="preview"]) .code-chunk .output-div {
	margin-bottom: 16px
}

.scrollbar-style::-webkit-scrollbar {
	width: 8px
}

.scrollbar-style::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent
}

.scrollbar-style::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(150,150,150,0.66);
	border: 4px solid rgba(150,150,150,0.66);
	background-clip: content-box
}

.markdown[for="html-export"]:not([data-presentation-mode]) {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow: auto
}

.markdown[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
	position: relative;
	top: 0
}

@media screen and (min-width:914px) {
	.markdown[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
		padding: 2em calc(50% - 457px + 2em)
	}
}

@media screen and (max-width:914px) {
	.markdown[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
		padding: 2em
	}
}

@media screen and (max-width:450px) {
	.markdown[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
		font-size: 14px !important;
		padding: 1em
	}
}

@media print {
	.markdown[for="html-export"]:not([data-presentation-mode]) #sidebar-toc-btn {
		display: none
	}
}

.markdown[for="html-export"]:not([data-presentation-mode]) #sidebar-toc-btn {
	position: fixed;
	bottom: 8px;
	left: 8px;
	font-size: 28px;
	cursor: pointer;
	color: inherit;
	z-index: 99;
	width: 32px;
	text-align: center;
	opacity: .4
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] #sidebar-toc-btn {
	opacity: 1
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	padding: 32px 0 48px 0;
	font-size: 14px;
	box-shadow: 0 0 4px rgba(150,150,150,0.33);
	box-sizing: border-box;
	overflow: auto;
	background-color: inherit
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc::-webkit-scrollbar {
	width: 8px
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(150,150,150,0.66);
	border: 4px solid rgba(150,150,150,0.66);
	background-clip: content-box
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc a {
	text-decoration: none
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc ul {
	padding: 0 1.6em;
	margin-top: .8em
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc li {
	margin-bottom: .8em
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc ul {
	list-style-type: none
}

.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .markdown-preview {
	left: 300px;
	width: calc(100% -  300px);
	padding: 2em calc(50% - 457px -  150px);
	margin: 0;
	box-sizing: border-box
}

@media screen and (max-width:1100px) {
	body,html{ font-size: 14px !important}
	.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .markdown-preview {
		padding: 2em
	}
}

@media screen and (max-width:450px) {
	body,html{ font-size: 12px !important}
	.markdown[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .markdown-preview {
		width: 100%
	}
}

.markdown[for="html-export"]:not([data-presentation-mode]):not([html-show-sidebar-toc]) .markdown-preview {
	left: 50%;
	transform: translateX(-50%)
}

.markdown[for="html-export"]:not([data-presentation-mode]):not([html-show-sidebar-toc]) .md-sidebar-toc {
	display: none
}

.markdown h1:nth-child(1) {
	margin-top: 0;
}


 @import url('https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css');