html, body,ul,li,ol,p, h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
    background-color: #333;
    font-family: Cambria, '宋体', songti !important ;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: .6;
    text-decoration: underline
}
div._main{
    max-width: 900px;
    width: 100%;
    margin: auto;
}
._header{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}
._header ._nav{
    margin-right: 0px;
}
._header ._nav a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    text-shadow: 0 12px 10px rgba(0, 0, 0, 0.392);
}
._header span._logo{
    display: block;
    height: 128px;
    position: absolute;
    width: 433px;
    background: url('./logo.png') 0 center no-repeat;
    background-size: 100%;
    left: -28px;
    top: 5px;
}
._header span._logo a{
    display: block;
    height: 90px;
    width: 433px;
    cursor: pointer;
}
._arc h1{
    text-align: center;
    line-height: 1.2;
    font-size: 30px;
    padding: 20px 0 10px 0;
}
._arc ._info{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px dashed #eee;
}
._arc ._info .type{
    padding: 2px 10px;
    background-color: #eee;
    border-radius: 20px;
    font-size: 16px;
}
._arc ._markdown img{
    max-width: 100%;
    margin: 10px auto;
}
._arc ._page{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 30px;
}
._arc ._page a{
    display: block;
    padding: 2px 20px;
    background-color: #ddd;
}
._arc ._page a:nth-last-child(1){
    border-radius:0 20px 20px 0 ;
}
._arc ._page a:nth-child(1){
    border-radius:20px  0  0  20px;
}
._content{
    width: calc(100% - 60px);
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    height: auto;
    min-height: 400px;
    color: #000;
    letter-spacing: .05em;
}
._content a{
    color: #000;
}
._content .page_num{
    padding-top: 30px;
    text-align: center;
}
._content .page_num a{
    display: inline-block;
    padding: 2px 20px;
    border-right: none;
    background-color: #ddd;
}
._content .page_num a.cur_page{
    background-color: #000;
    color: #fff;
}

._content .arc_list li{
    padding: 20px 0;
    position: relative;
    border-bottom: 1px #eee dashed;
}
._content .arc_list li h3{
    font-size: 24px;
    padding-bottom: 20px;
    line-height: 1.2;
    font-weight: bold;
}
._content .arc_list li h3 a{
    display: block;
}
._content .arc_list li .bottom_box img{
    display: none;
}
._content .arc_list li ._desc, ._content .arc_list li ._date{
    color: #666;
}
._content .arc_list li ._date {
    display: block;
}
._content .arc_list li ._date a{
    padding: 2px 5px;
    background-color: #eee;
    border-radius: 12px;
}
._footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.458);
    font-size: 18px !important;
}
._footer a{
    color: #fff;
    
}
._footer .__right a{
    margin-left: 20px;
}
._footer .__right .___nav{
    display: none;
}
._content .arc_rss li{
    padding: 5px 0;
}
._content .arc_rss span{
    color: #999;
}
._content .arc_rss ._type{
    padding: 2px 5px;
    background-color: #eee;
    border-radius: 12px;
}
/* markdown */
._markdown{
    line-height: 1.8;
}
._markdown blockquote{
    background-color: #eee;
    margin: 20px 0;
    padding: 10px;
    border-left: 2px solid #ddd;
    overflow: hidden;
    box-sizing: border-box;
    overflow-x: auto;
}
._markdown pre{
    line-height: 1.5;
    background-color: #333;
    overflow: hidden;
    overflow-x: auto;
    padding: 10px;
}
._markdown code{
    font-family: 'Courier New', '宋体', songti !important;
    background-color: #333;
    padding: 2px 5px;
    color: #fff;
    font-size: 18px;
}
._markdown a{
    color: rgb(5, 61, 125);
}
._markdown p{
    margin: 20px 0;
}
._markdown blockquote p{
    margin: 0;
}
._markdown table{
    border-spacing:0px;
    text-align: left;
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px auto;
}
._markdown table thead{
    background-color: #eee;
}
._markdown table th,._markdown table td{
    padding: 2px 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
._markdown table th:nth-last-child(1), ._markdown table td:nth-last-child(1){
    border-right: none;
}
._markdown ul{
    margin: 10px 0;
    padding-left: 1em;
}
._markdown ul li {
    list-style: square;
}
._markdown pre code{
    background-color: transparent;
}
._markdown h1,._markdown h2,._markdown h3,._markdown h4,._markdown h5,._markdown h6{
    padding: 10px 0;
}
._markdown h1{
    font-size: 26px;
}
._markdown h2{
    font-size: 24px;
}
._markdown h3{
    font-size: 22px;
}
._markdown h4{
    font-size: 20px;
}
._markdown h5{
    font-size: 18px;
}
@media screen and (max-width: 780px) {
    ._content{
        width: calc(100% - 40px);
        padding: 20px;
    }
    ._header ._nav{
        display: none;
    }
    ._header span._logo{
        left: 50%;
        transform: translateX(-50%) scale(.8);
    }
    ._footer .__left{
        display: none;
    }
    ._footer .__right .___nav{
        display: inline;
    }
}
